In [44]:
import pandas as pd

In [45]:
housing=pd.read_csv("india_housing_prices.csv", index_col=["ID"])

In [46]:
housing.head(2)

,State,City,Locality,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Price_per_SqFt,Year_Built,Furnished_Status,...,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Amenities,Facing,Owner_Type,Availability_Status
ID,,,,,,,,,,,,,,,,,,,,,
1,Tamil Nadu,Chennai,Locality_84,Apartment,1,4740,489.76,0.10,1990,Furnished,...,35,10,3,High,No,No,"Playground, Gym, Garden, Pool, Clubhouse",West,Owner,Ready_to_Move
2,Maharashtra,Pune,Locality_490,Independent House,3,2364,195.52,0.08,2008,Unfurnished,...,17,8,1,Low,No,Yes,"Playground, Clubhouse, Pool, Gym, Garden",North,Builder,Under_Construction

In [47]:
housing.info();

<class 'pandas.core.frame.DataFrame'>
Index: 250000 entries, 1 to 250000
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   State                           250000 non-null  object
 1   City                            250000 non-null  object
 2   Locality                        250000 non-null  object
 3   Property_Type                   250000 non-null  object
 4   BHK                             250000 non-null  int64
 5   Size_in_SqFt                    250000 non-null  int64
 6   Price_in_Lakhs                  250000 non-null  float64
 7   Price_per_SqFt                  250000 non-null  float64
 8   Year_Built                      250000 non-null  int64
 9   Furnished_Status                250000 non-null  object
 10  Floor_No                        250000 non-null  int64
 11  Total_Floors                    250000 non-null  int64
 12  Age_of_Property                 250000 non-null  int64
 13  Nearby_Schools                  250000 non-null  int64
 14  Nearby_Hospitals                250000 non-null  int64
 15  Public_Transport_Accessibility  250000 non-null  object
 16  Parking_Space                   250000 non-null  object
 17  Security                        250000 non-null  object
 18  Amenities                       250000 non-null  object
 19  Facing                          250000 non-null  object
 20  Owner_Type                      250000 non-null  object
 21  Availability_Status             250000 non-null  object
dtypes: float64(2), int64(8), object(12)
memory usage: 43.9+ MB

In [48]:
housing.shape

(250000, 22)

In [49]:
housing["Amenities"].str.split(",").values

array([list(['Playground', ' Gym', ' Garden', ' Pool', ' Clubhouse']),
       list(['Playground', ' Clubhouse', ' Pool', ' Gym', ' Garden']),
       list(['Clubhouse', ' Pool', ' Playground', ' Gym']), ...,
       list(['Playground']), list(['Playground', ' Gym', ' Pool']),
       list(['Gym', ' Garden'])], shape=(250000,), dtype=object)

In [55]:
from itertools import chain
merged = list(chain.from_iterable(housing["Amenities"].str.split(",").values))
merged = list(set(merged))
merged = set([item.strip() for item in merged])

In [66]:
merged

{'Clubhouse', 'Garden', 'Gym', 'Playground', 'Pool'}

In [88]:
housing["Amenities_value"]=housing["Amenities"].apply(lambda x: len(x.split(", ")))

In [91]:
housing["Amenities_value"]

ID
1         5
2         5
3         4
4         5
5         5
         ..
249996    5
249997    1
249998    1
249999    3
250000    2
Name: Amenities_value, Length: 250000, dtype: int64

In [90]:
housing["Amenities"].values[0]

'Playground, Gym, Garden, Pool, Clubhouse'